<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MiDbContext" connectionString="Data Source=MATI\SQLEXPRESS;Initial Catalog=Ferreteria;Integrated Security=True;" providerName="System.Data.SqlClient" />
	<add name="FerreteriaEntities" connectionString="metadata=res://*/CDatos.BD.csdl|res://*/CDatos.BD.ssdl|res://*/CDatos.BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MATI\SQLEXPRESS;initial catalog=Ferreteria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>

